@model X.PagedList.IPagedList<GerenciadorDespesas.Models.Despesas>
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@{
    ViewData["Title"] = "Despesas cadastradas";
}


<div class="tabela">
    <div class="container">
        <p class="btnNovo">
            <a asp-action="Create" class="btn btn-outline-primary btn-sm">Nova despesa</a>
        </p>

             @if(TempData["Confirmacao"] != null)
            {
                <h6 class="alert alert-success">@TempData["Confirmacao"]</h6>
            }

        <div class="tabelaPrincipal">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Meses
                        </th>
                        <th>
                            Tipo da Despesa
                        </th>
                        <th>
                            Valor
                        </th>
                        <th>
                            Ação
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Meses.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoDespesas.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Valor)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.DespesaId" class="btn btn-outline-info btn-sm">Atualizar</a> |
                                <a onclick="ExibirModal(@item.DespesaId)" class="btn btn-outline-danger btn-sm">Excluir</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@Html.PagedListPager(Model, pagina => Url.Action("Index", "Despesas", new { pagina }), new PagedListRenderOptions
{
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "paged-link" }

})

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja prosseguir com a exclusão dessa despesa ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btnExcluir">Sim</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Não</button>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function ExibirModal(id) {


            $(".modal").modal();

            $(".btnExcluir").on('click', function () {
                $.ajax
                    ({
                        url: "Despesas/Delete",
                        method: "POST",
                        data: { id: id },
                        success: function (data) {
                            $(".modal").modal('hide');
                            location.reload(true);

                        }

                    });
            });
        }

    </script>
}